body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
    background: whitesmoke;
    min-width: 380px;
}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    /*позиционирование по центру*/
    max-width: 1250px;
}

h1 {
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
}

.header {
    background: url("../images/11111.png") no-repeat center top / cover;
}

header a {
    color: white;

}

.menu ul {
    display: flex;
    flex-direction: row;
    padding-left: 8em;
}

.menu ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 0.1em;
}

.menu ul li {
    margin-right: 3em;
}

.nav {
    display: flex;
    align-items: center;
    padding: 35px;
    margin: 0 auto;

}

.container:nth-of-type(0) {
    position: relative;
}

.nav a svg {
    margin-right: 10px;
}

.tel {
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 0.1em;
}




h2 {
    font-size: 40px;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
}

h3 {
    font-size: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    color: white;
    background: #003a00;
    font-weight: lighter;
}

div.home {


    display: flex;
    padding: 35px;
    margin: 0 auto;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 20px #ccc;
}

div.home1 {


    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
    padding: 35px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 20px #ccc;
}

.home1 .picture {
    width: 33.25em;
    height: 25em;
    object-fit: cover;
}

div.prsl {


    display: flex;
    padding: 35px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 20px #ccc;
}

.prices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.prices:nth-last-of-type(1) {
    display: flex;
    justify-content: center;
    padding: 35px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 20px #ccc;
}

div.serv_ {
    display: flex;
    flex-direction: row;
}



.serv {
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    padding: 35px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 20px #ccc;
}

.serv b {
    align-self: center;
}

.serv {
    align-self: center;
}

div.equip {

    display: flex;
    padding: 35px;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 20px #ccc;
}

p {
    font-size: 18px;
}


.ph {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ph li {
    display: flex;
    align-items: center;
}

.ph li b {
    padding-left: 2em;
}

.ph li img {
    width: 6.25em;
    height: 3.75em;
}

footer {
    background: #003a00;
}

.icon-excel {
    background-image: url("../images/hamburger-menu.svg");

}

.mainMenuOpenButton img {
    width: 50px;
    height: 50px;
    filter: invert(100%);

}

.mainMenuOpenButton {
    width: 50px;
    height: 50px;
    display: none;
}

.mainMenuCloseButton {
    width: 50px;
    height: 50px;
    display: none;
}

.mainMenuCloseButton img {
    width: 50px;
    height: 50px;
    filter: invert(100%);

}
.item a {display: inline-flex; color:white ; text-decoration: none;}

@media(max-width: 1170px) {
    .prices {
        grid-template-columns: 1fr;
    }
    .footer .container{grid-template-columns: repeat(2,1fr);}
    .menuShow li {
        font-size: 2em;
        font-weight: 500;
        padding: 0.8em;
    }

    .menuShow li a {
        text-decoration: none;
    }

    .menu {
        display: none;
    }



    .menuShow {
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 0.5em;
        top: 7.5em;
        background: url("../images/11111.png") no-repeat;
    }

    div.home1 {
        grid-template-columns: 1fr;
        justify-items: center
    }

    .ph li {
        padding-top: 2em;
    }

    .mainMenuOpenButton {
        display: block;
    }

    .nav {

        justify-content: center;

    }

    h1 {
        display: none;
    }

    .nav {
        justify-content: space-between;
    }
}
@media(max-width: 800px){.footer .container{grid-template-columns: 1fr;}}


@media(max-width: 600px) {
    div.home1 {
        padding-left: 16px;
        padding-right: 16px;
    }

    div.prsl {
        padding-left: 16px;
        padding-right: 16px;
    }

    .serv {
        padding-left: 16px;
        padding-right: 16px;
    }

    div.equip {
        padding-left: 16px;
        padding-right: 16px;
    }

    .menu {
        display: none;
    }

    .menuShow {
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 0.5em;
        top: 7.5em;
        background: url("../images/11111.png") no-repeat;
    }
}

@media(max-width: 560px) {
    .home1 .picture {
        width: 350px;
        height: 200px;
    }

    .mainMenuCloseButton {
        display: block;
    }

    .menu {
        display: none;
    }

    .serv {
        width: 350px;
    }

    .nav {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .menu {
        display: none;
    }

    .menuShow {
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        position: fixed;
        padding: 0.5em;
        background: url("../images/11111.png") no-repeat;

    }

    .menuShow ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menuShow li {
        font-size: 2em;
        font-weight: 500;
        padding: 0.8em;
    }

    .menuShow li a {
        text-decoration: none;
    }

    h2 {
        font-size: 35px;
    }
}

@media(max-width: 460px) {
    .nav {
        padding: 10px;
    }

    .menu {
        display: none;
    }

    .menuShow {
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        position: fixed;
        padding: 0.5em;
        background: url("../images/11111.png") no-repeat;

    }

    .menuShow ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menuShow li {
        font-size: 2em;
        font-weight: 500;
        padding: 0.8em;
    }

    .menuShow li a {
        text-decoration: none;
    }
}

.footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.contact-info {
    min-width: 400px;
}



.item {
    font-size: 22px;
    color: white;
    padding: 12px;
    display: flex;
    align-items: center;
}

.icon {
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: white;
    text-align: center;
    color: #003a00;
    border-radius: 50%;
    margin-right: 16px;
}

i:before {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
}

.contact-form {
    display: flex;
    flex-direction: column;

}

.contact-form label {
    color: white;
    font-size: 18px;
}

.textb {
    height: 50px;
    padding: 12px;
    background-color: whitesmoke;
    border: none;
    color: white;
    margin-bottom: 20px;
}

.btn {
    width: 120px;
    height: 40px;
    background-color: honeydew;
    border: none;
    text-transform: uppercase;
}

.btn:hover {
    background-color: aquamarine;
    color: #003a00;
}

@media screen and (max-width: 980px) {
    .contact-page {
        max-width: 800px;
    }

    .contact-info,
    .contact-form {
        flex: 100%;
        margin-bottom: 30px;
    }

    .textb {
        width: 100%;
    }
}